<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Intvite Members</button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="container mt-3">
        <h2>Invite</h2> 
        <%= select_tag :users, options_for_select(@users.map {|u| [u.name, u.id]}), class: 'form-control' %>
      </div>

    </div>

  </div>
</div>
